<section
  [@introFade]="introState"
  (@introFade.done)="onIntroFadeOutDone($event)"
  class="flex flex-col items-center justify-center min-h-screen text-center px-4 sm:px-6 text-white"
>
  <div class="max-w-3xl w-full">
    <div class="mb-8 min-h-[6rem] text-left sm:text-center">
      <app-typing-fx
        [segments]="typedIntroSegments"
        [typingSpeed]="50"
        [cursorChar]="'_'"
        [cursorSpeed]="500"
        [infinite]="false"
        (typingCompleteEvent)="onTypingComplete()"
      ></app-typing-fx>
    </div>

    <div
      *ngIf="showCallToActionContent"
      [@fadeInContent]
      class="flex flex-col items-center gap-y-8 md:gap-y-10"
    >
      <h1 class="text-4xl sm:text-5xl lg:text-6xl font-bold">
        {{ sloganLine1 }}
        <span
          class="block mt-2 bg-gradient-to-r from-purple-500 via-pink-500 to-orange-400 bg-clip-text text-transparent"
        >
          {{ sloganLine2 }}
        </span>
      </h1>
      <p class="text-md sm:text-lg text-gray-300 max-w-xl">
        {{ sloganDescription }}
      </p>
      <div
        class="relative inline-block overflow-hidden rounded-full group p-1.5 mt-4"
      >
        <span
          class="absolute inset-[-1000%] animate-[spin_3s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#a855f7_0%,#ec4899_33%,#fb923c_67%,#a855f7_100%)] opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out"
        ></span>
        <p-button
          [label]="ctaButtonLabel"
          rounded
          severity="contrast"
          styleClass="p-button-lg relative z-10 text-lg"
          icon="pi pi-arrow-circle-up"
          iconPos="right"
          (click)="startSequence()"
          [disabled]="isTransitioning"
        ></p-button>
      </div>
    </div>
  </div>
</section>
